<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid d-flex flex-column align-items-start p-3" style="width: 250px; min-height: 90vh; justify-content: flex-start;">
        <a class="navbar-brand mb-4" href="#">GameFindr - CA3</a>
        <ul class="navbar-nav w-100">
            <li class="nav-item mb-2 w-100">
                <NavLink class="nav-link text-center py-2" href="/" activeClass="active">Home</NavLink>
            </li>
            <li class="nav-item mb-2 w-100">
                <NavLink class="nav-link text-center py-2" href="/search" activeClass="active">Search</NavLink>
            </li>
            <li class="nav-item w-100">
                <NavLink class="nav-link text-center py-2" href="/catalog" activeClass="active">Catalog</NavLink>
            </li>
            <li class="nav-item w-100">
                <NavLink class="nav-link text-center py-2" href="/about" activeClass="active">About</NavLink>
            </li>
        </ul>
    </div>
</nav>
