@page "/"

<div class="container text-center mt-5">
    <h1 class="display-6 text-center text-primary">GameFindr - Video Game Database</h1>
    <p class="lead mt-3">Discover, explore, and track your favorite video games effortlessly.</p>

    <div style="border-radius: 10px; overflow: hidden; max-width: 100%; margin-bottom: 10px;">
        <img src="/lando.png" alt="RAWG API" style="width: 100%; max-height: 400px;">
    </div>

    <section class="mt-5">
        <div style="background-color: #f5f5dc; border-radius: 15px; padding: 10px;">
            <h4><strong>What You Can Do</strong></h4>
            <p>GameFindr is a web application that leverages the RAWG API to provide you with detailed information about thousands of video games.</p>
            <p>You can search for your favourite games, discover detailed information about new titles, view ratings, and more.</p>
        </div>

    </section>

    <footer class="mt-5">
        <hr />
        <p class="text-muted">&copy; 2024 Jason O'Connor | Powered by RAWG API</p>
    </footer>
</div>
